* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
    display: block;
    margin: 8px;
}
div {
    display: block;
}

i {
  font-style: italic;
}

.header {

 padding: 1rem 2rem;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.5rem;
}



head {
    display: none;
}
.vp {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/frame.jpg) center center/cover;
}
    .header .nav h1 {
  line-height: 100px;
  padding-left: 20px;
  color: red;
  float: left;

}

.header .nav a {
  /* padding: */
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.header  ol {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
.vp-content {
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 1rem;
}
.vp-content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  
}
h1{
margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header  ol li a {
  float: left;
  list-style-type: none;
  padding: 0px 20px;
  line-height: 100px;
  text-decoration: none;
}

.header ol a:hover{
  background-color: white;
} 
.liste-offre {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.offer-elem{
  border: 1px solid #ddd;
    background: white;
    margin: 1rem;
    flex: 1;

}
.offer-elem-text {
  padding: 2rem;
  text-align: center;
}
.offer-elem-img {
  width: 100%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li.offer-elem{
  text-align: -webkit-match-parent;
}

em {
    font-style: italic;
}

.section .img {
  background-image: url(images/frame.jpg);

  background-position: center;
  background-size: cover;
  height: 600px;
  display: block;

}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fa-solid {
  float: left;
  color: yellow;
  padding: 40px 0px 0px 10px;
  font-size: 20px;


}
.offre .container-offre .title{
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 3rem;

}


.section .h1 {
  font-size: 50px;
  color: white;
  /* letter-spacing: 5px */

}
.who-content-text h2 {
    margin-bottom: 2rem;
}
h1, h2, h3, h4 {
    margin-bottom: 1rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



/* font-weight: lighter;
} */
.title {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 3rem;
    display: flex;
}
button{
  appearance: auto;
  letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.main {
  padding-bottom: 100px;

  margin: 0px 60px 0px 60px;
  height: 700px;
  display: flex;
  justify-content: center;
  gap: 30px;

}
.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main .card {
  color: #4b4a4a;
  margin: auto;
  width: 33%;
  height: 500px;
  background-color: #fff;

}



.underline {
  width: 50px;
  height: 2px;
  background: #111;
  text-align: center;
  margin: 20px auto;


}

.who-content-text {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-offre {
  display: block;
  display: flex;
  
  max-width: 1200px;
  margin: auto;


}
.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.offre {
    padding: 10rem 1rem;
}
section {
    display: block;
}
.who-content-img {
  flex: 1;
  background: url(../images/team.jpg) center center/cover;
}




.who {
    display: flex;
    flex-flow: row nowrap;
    min-height: 600px;
}
span {
  color: #f7b731;
  font-weight: normal;
}
.testimonials {
    padding: 5rem 1rem;
}

.content {
  padding-bottom: 50px;
}
input[type="email" i] {
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 2px;
}
.form input {

  border: 0px;
  padding: 1rem;
  background: #333;
  border-bottom: 2px solid #555;
  color: white;
  font-size: 23px;
  margin-bottom: 1rem;
  outline: 0;
}
.vp-logo{
  margin-bottom: 0;
    font-family: "Long Cang", cursive;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.contact {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 30px;
  background: #f1c40f;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background: red;
}

div {
  display: block;
}
.bg-dark {
  background: #333;
  color: white;
}
.testimonials-elem {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.testimonials-elem-profil img {
    width: 50px;
    border-radius: 50px;
    margin-bottom: 0.5rem;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.testimonials-elem-text p i{
  padding: 0 2rem;
}
.testimonials-content {
    display: flex;
    flex-direction: column;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-quote-left:before {
  content: "\f10d";
}
footer {
  display:block ;
  background: #444;
  padding: 5rem 1rem;
  color: white;
  text-align: center;
}


footer p {
  margin-bottom: 0;
}